body
{
    background: lightblue;
}
.output
{
    background: red;
    color: white;
    border-radius: 10px;
    border-top: 10px solid #f8f8f8;
    padding: 10px;
    float: none;
    text-align: center;
}
.input
{
  color: black;
}